nav > ul {
    display: flex;
}
ul>li{
    list-style: none;
    margin-right: 10px;
    padding: 5px;
}
li > a{
    text-decoration: none;
    color: black;
}
nav li:hover{
    background-color: lightgray;
}